<div class="well well-sm">
    <div class="row">
        <div class="col-xs-3 col-md-3 text-center">
            <img src="{{data.link}}" alt="bootsnipp"
                 class="img-rounded img-responsive" />
        </div>
        <div class="col-xs-9 col-md-9 section-box">
            <h2>{{data.title}}</h2>
            <p>{{data.description}}</p>
            <hr />
            <div class="row rating-desc">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span>(36)<span class="separator">|</span>
                    <span class="glyphicon glyphicon-comment"></span>(100 Comments)
                </div>
            </div>
        </div>
    </div>
</div>